@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 32 40% 92%;
    --foreground: 18 61% 15%;
    --card: 0 100% 50%;
    --card-foreground: 0 100% 50%;
    --popover: 32 40% 92%; /*Dropdown*/
    --popover-foreground: 18 61% 15%;
    --primary: 18 61% 15%;
    --primary-foreground: 32 40% 92%;
    --secondary: 0 100% 50%;
    --secondary-foreground: 0 100% 50%;
    --muted: 18 61% 15%; /*Hover*/
    --muted-foreground: 26 30% 50%; /*Hover text*/
    --accent: 26 30% 50%; /*Selected icon*/
    --accent-foreground: 18 61% 15%;/*dropdown text colour on hover*/
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 100% 50%;
    --border: 18 61% 15%; /*Horizontal lines*/
    --input: 18 61% 15%; /*Input field border*/
    --ring: 18 61% 15%; /*Selected input field border*/
    --radius: 0.5rem;
    --chart-1: 0 100% 50%;
    --chart-2: 0 100% 50%;
    --chart-3: 0 100% 50%;
    --chart-4: 0 100% 50%;
    --chart-5: 0 100% 50%;
    --toolbar-icon-text: 32 40% 92%;
  }

  .dark {
    --background: 32 40% 92%;
    --foreground: 18 61% 15%;
    --card: 0 100% 50%;
    --card-foreground: 0 100% 50%;
    --popover: 32 40% 92%; /*Dropdown*/
    --popover-foreground: 18 61% 15%;
    --primary: 18 61% 15%;
    --primary-foreground: 32 40% 92%;
    --secondary: 0 100% 50%;
    --secondary-foreground: 0 100% 50%;
    --muted: 18 61% 15%; /*Hover*/
    --muted-foreground: 26 30% 50%; /*Hover text*/
    --accent: 26 30% 50%; /*Selected icon*/
    --accent-foreground: 18 61% 15%;/*dropdown text colour on hover*/
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 100% 50%;
    --border: 18 61% 15%; /*Horizontal lines*/
    --input: 18 61% 15%; /*Input field border*/
    --ring: 18 61% 15%; /*Selected input field border*/
    --radius: 0.5rem;
    --chart-1: 0 100% 50%;
    --chart-2: 0 100% 50%;
    --chart-3: 0 100% 50%;
    --chart-4: 0 100% 50%;
    --chart-5: 0 100% 50%;
    --toolbar-icon-text: 32 40% 92%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .toolbar-text-icon-color {
    color: hsl(var(--toolbar-icon-text));
  }
}

